<div class="container">
  <div class="header">
    <h1>Welcome to our page</h1>
    <p class="subheader">Here you will find</p>
  </div>

  <div class="row justify-content-between itemContainer">
    <div class="col-md-3 item1 item d-flex justify-content-center align-items-center">
      <h3>Foods</h3>
      <img src="../../assets/images/food.png">
    </div>
    <div class="col-md-3 item2 item d-flex justify-content-center align-items-center">
      <h3>Recipes</h3>
      <img src="../../assets/images/recipe.png">
    </div>
    <div class="col-md-3 item3 item d-flex justify-content-center align-items-center">
      <h3>Shopping</h3>
      <img src="../../assets/images/shopping.png">
    </div>
  </div>
</div>
